*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  --color: hsl(220, 50%, 90%);
  --global-background: hsl(220, 25%, 10%);
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100vh;
}
body {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: var(--color);
  // background: var(--global-background);
  background: rgba(55, 55, 55, 0.85);
}

h1 {
  font-size: 3.2rem;
  font-weight: normal;
  letter-spacing: 0.4rem;
  user-select: none;
  transition: all .75s;
  &:hover {
    font-weight: 700;
    font-size: 4rem;
  }
}
h2 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: normal;
  user-select: none;
  transition: all .75s;
  &:hover {
    font-weight: 700;
  }
}

p {
  font-size: 1.6rem;
}

.themes {
  display: flex;
  align-items: center;
  position: absolute;
  top: 6rem;
  right: 6rem;
  padding: 0.4rem 2rem 0.4rem 3rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
}
.theme__color {
  margin: 1rem;
  cursor: pointer;
  position: relative;
}
.theme__color:first-of-type {
  margin-left: 2rem;
}
.theme__input {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}
.theme__input:checked + .theme__icon {
  box-shadow: 0 0 0 0.5rem var(--global-background), 0 0 0 0.6rem rgba(255, 255, 255, 0.2);
  transform: scale(1);
}
.theme__input:focus + .theme__icon {
  box-shadow: 0 0 0 0.5rem var(--global-background), 0 0 0 0.6rem var(--color);
}
.theme__icon {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100rem;
  background: var(--color);
  transform: scale(0.6);
  transition: 0.2s;
}

.switches[data-theme=green] {
  --primary-light: hsl(160, 79%, 46%);
  --primary-dark: hsl(160, 79%, 16%);
  --ripple: hsla(160, 79%, 46%, .1);
  --focus: hsl(160, 69%, 46%);
}
.switches[data-theme=blue] {
  --primary-light: hsl(200, 79%, 46%);
  --primary-dark: hsl(200, 79%, 16%);
  --ripple: hsla(200, 79%, 46%, .1);
  --focus: var(--primary-light);
}
.switches {
  display: flex;
  // flex-flow: column;
  // align-items: center;
  margin-top: 5rem;
  width: 75%;
  // height: 100%;
  justify-content: space-between;
  align-items: center;
}

.switch:not(:last-of-type) {
  margin-right: 4rem;
}
.switch__label {
  position: relative;
  cursor: pointer;
}
.switch__input {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.switch__input:focus + .switch__design {
  box-shadow: 0 0 0 0.1rem var(--global-background), 0 0 0 0.2rem var(--focus);
}
.switch {
  --width: 6rem;
  --height: 3rem;
  --background: hsl(0, 0%, 30%);
  --checked-background: var(--primary-dark);
  --thumb-size: 1.6rem;
  --thumb-ripple-color: var(--ripple);
  --thumb-background: hsl(0, 0%, 65%);
  --checked-thumb-background: var(--primary-light);
  --thumb-space-between-edges: .6rem;
  --thumb-out: var(--thumb-space-between-edges);
  padding: 0 2vw;
}
.switch--1, .switch--3, .switch--5, .switch--7 {
  --width: 4rem;
  --height: 1.6rem;
  --thumb-size: 2rem;
  --thumb-space-between-edges: 0rem;
  --thumb-out: -.3rem;
}
.switch--2, .switch--6 {
  --background: hsla(0, 0%, 20%);
}
.switch--3, .switch--4 {
  --border: 1px solid hsl(0, 0%, 60%);
  --background: transparent;
}
.switch--7 {
  --width: 3rem;
  --thumb-out: calc((var(--thumb-size) / 2) - ((var(--thumb-size) / 2) * 2) + .2rem);
}
.switch__design {
  display: inline-block;
  width: var(--width);
  height: var(--height);
  border: var(--border);
  border-radius: 100rem;
  background: var(--background);
  position: relative;
  transition: 0.2s, box-shadow 0s;
}
.switch__design::before {
  content: "";
  position: absolute;
  left: var(--thumb-out);
  top: 50%;
  transform: translateY(-50%);
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 100rem;
  background: var(--thumb-background);
  transition: inherit;
}
.switch--5 .switch__input:not(:checked) + .switch__design, .switch--7 .switch__input:not(:checked) + .switch__design {
  --thumb-ripple-color: hsla(0, 0%, 65%, .1);
}
.switch--6 .switch__design {
  transition: 0.3s, box-shadow 0s;
}
.switch__input:checked + .switch__design {
  border-color: transparent;
  background: var(--checked-background);
}
.switch__input:checked + .switch__design::before {
  left: calc(100% - (var(--thumb-size) + var(--thumb-out)));
  background: var(--checked-thumb-background);
}
.switch--6 .switch__input:checked + .switch__design::before {
  left: calc(100% - var(--thumb-out));
  transform: translate(-100%, -50%);
}
.switch--5 .switch__design:hover::before, .switch--7 .switch__design:hover::before, .switch--5 .switch__input:focus + .switch__design::before, .switch--7 .switch__input:focus + .switch__design::before {
  box-shadow: 0 0 0 0.9rem var(--thumb-ripple-color);
}
.switch--6 .switch__design:active::before {
  width: calc(var(--thumb-size) + .4rem);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
}

.printed {
  background: lightgreen;
  outline: 5px lightgreen;
}
.notprinted {
  background: lightcoral;
  outline: 5px lightcoral;
}

textarea {
  resize: none;
  font-size: 30px;
  &#textarea1 {
    outline-style: inset;
  }
  &#textarea2 {
    outline-style: outset;
  }
}

.sandbox {
  display: flex;
  flex-flow: row;
  .box1 {
    &:first-child {
      width: 60%;
    }
    display: flex;
    flex-flow: column;
    width: 100%;
    position: relative;
    .box2 {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }
}

#output {
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  text-overflow: ellipsis;
  padding-top: 5vh;
  padding-left: 3vw;
  &::selection {
    background: rgba(55,255, 55, 0.5);
  }
}